body{
    background-color:lightgray;
}

h1{
    font-style: bold;
    color:blue;
    text-decoration: underline;
    text-align: center;
}

h3{
    font-size: larger;
    font-style: italic;
    text-decoration: underline;
    color:teal;
    text-align: start;
}
h4{
    font-size: large;
    color: brown;
}

p{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}